services:
  postgres:
    image: postgres:16
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=authentication
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=654321
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 80s 

  goal-buddy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: goal-buddy_container
    depends_on:
      postgres:
        condition: service_healthy
    links:
      - postgres
    ports:
      - "5001:5001"
    environment:
      DATABASE_URL: "postgresql://postgres:654321@postgres/authentication"

volumes:
  postgres_data: