{% extends "base.html" %}
{% block content %}
    <div class="card">
        <h1>Create a New Goal</h1>
        <p>Set a SMART goal: Specific, Measurable, Achievable, Relevant, and Time-bound.</p>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }} <br>
                {{ form.title(cols=128, rows=4) }} <br>
            </p>
            <p>
                {{ form.goal_why.label }} <br>
                {{ form.goal_why(cols=128, rows=4)}} <br>
            </p>
            <p>
                {{ form.goal_outcome.label }} <br>
                {{ form.goal_outcome(cols=128, rows=4)}} <br>
            </p>
            <p>
                {{ form.goal_due_date.label }}
                {{ form.goal_due_date() }}
            </p>
            <p>
                {{ form.is_date_locked() }} {{ form.is_date_locked.label }}
            </p>
            {% for error in form.errors %}
                <span style="color: rgb(248, 74, 74);">[{{ error }}]</span>
            {% endfor %}
            <p>
                {{ form.submit() }}
                <a href="{{ url_for('user', username=user.username) }}" class="button button-small">Cancel</a>
            </p>
        </form>
    </div>
{% endblock %}