{% extends "base.html" %}
{% block content %}
    <h1>Edit Goal</h1>
    <hr>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }} <br>
            {{ form.title(cols=128, rows=4) }} <br>
            <br>
            {{ form.goal_why.label }} <br>
            {{ form.goal_why(cols=128, rows=4)}} <br>
            <br>
            {{ form.goal_outcome.label }} <br>
            {{ form.goal_outcome(cols=128, rows=4)}} <br>
            <br>
            {{ form.goal_due_date.label }}
            {% if goal.is_date_locked %}
                {{ form.goal_due_date(disabled=True) }}
                <span style="color: rgb(234, 118, 118);"> (Date is locked)</span>
            {% else %}
                {{ form.goal_due_date() }}
            {% endif %}
            <br>
            <br>
            {{ form.is_date_locked() }} {{ form.is_date_locked.label }}
            <br>
            {% for error in form.errors %}

            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
