{% extends "base.html" %}

{% block content %}
    <div class="card card-centered">
        <h1>Create an Account</h1>
        <p>Join Goal Buddy and start achieving your dreams today!</p>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: rgb(248, 74, 74);">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
                    <span style="color: rgb(248, 74, 74);">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=64) }}<br>
                {% for error in form.name.errors %}
                    <span style="color: rgb(248, 74, 74);">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: rgb(248, 74, 74);">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=64) }}<br>
                {% for error in form.confirm_password.errors %}
                    <span style="color: rgb(248, 74, 74);">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="form-centered">{{ form.submit() }}</p>
        </form>

        <p style="text-align: center;">Already have an account? <a href="{{ url_for('login') }}" class="button button-small">Sign In</a></p>
    </div>
{% endblock %}